name: push

on:
  push:
    branches: [main]

jobs:
  call-build:
    uses: ./.github/workflows/build.yml
  release:
    needs: call-build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "24.x" # Trusted publishing requires npm >=v11.5.1
          cache: "yarn"

      - run: yarn

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          version: yarn version-packages
          publish: yarn release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
